<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NoFoodWaste</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
  crossorigin="anonymous"
>
  


  <!-- font awesome -->

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- google fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

  <!-- css stylesheet -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css\styles.css">

  <!-- javascript -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="./images/logo.svg">
  
</head>


<body>

  <section id="title">
    <div class="container-fluid">
      <!-- navbar -->

      <nav  class="navbar navbar-expand-lg ">
        <a href="/index" class="navbar-brand logo"><img src="./images/NOWASTE.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#features" class="nav-link active">Features</a>
            </li>
            <li class="nav-item">
              <a href="#faqs" class="nav-link active">FAQs</a>
            </li>
            <li class="nav-item">
              <a href="#testimonials" class="nav-link active">Testimonials</a>
            </li>
            <li class="nav-item">
              <a href="#cta" class="nav-link  active">Contactus</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link  active">Login/Register</a>
            </li>
          </ul>
        </div>
        </nav>
 

      <div class="row">

        <div class="col-md-8">
          <h3 class="fs-3 text-dark">
            Are you a store manager looking for an efficient way to manage food
            waste and make a positive impact on your community? You've come to the
            right place. Our system is designed to help you keep a close eye on
            your store's expiry items and facilitate the donation of surplus food
            to those in need. With NoFoodWaste, you can minimize waste, contribute
            to a more sustainable future, and support the less fortunate.</h3>
        </div>

        <div class="col-md-4">
          <img class="title-image" src="images/photo-.png" alt="foodgiving">
        </div>

      </div>
    </div>
     
  </section>

  <div class="ui " > 
    <img src="./images/wave1.png" alt="wave">
  </div>



  <!-- Features -->

  <section id="features">

    <div class="container-fluid features">

      <div class="row">

        <div class="col-md-4">
          <span class=" features-icon">
            <i class="fas fa-check-circle"></i>
          </span>
          <h3>Prevent Food Waste</h3>
          <p>Effortlessly minimize food waste.</p>
        </div>

        <div class="col-md-4">
          <span class="features-icon">
            <i class="fas fa-bullseye"></i>
          </span>
          <h3>Easy Expiry Tracking</h3>
          <p>Streamlined expiration date management.</p>
        </div>

        <div class="col-md-4">
          <span class="features-icon">
            <i class="fas fa-heart"></i>
          </span>
          <h3>Support Food Donations</h3>
          <p>Empower charitable giving.</p>
        </div>

      </div>
    </div>
  </section>


  <!-- Testimonials -->

  <section id="testimonials">

    <div id="demo" class="carousel slide " data-ride="false">

      <!-- indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
      </ul>

      <!-- the slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item container-fluid active">
          <h2 class="section-heading">"This website is a game-changer for store managers! It's incredibly easy to use and has made a significant impact on reducing food waste."</h2>
          <img src="./images/storekeeper.jpeg" alt="dog-profile">
          <em>Poirate, Panama</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="section-heading ">NoFoodWaste has simplified our inventory management. The donation feature is commendable – we're making a positive difference in our community</h2>
          <img src="images/ngo.jpeg" alt="lady-profile">
          <em>Kolrate,kliar</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Press -->

  <!-- <section id="press">
    <img src="images\TechCrunch.png" alt="tc-logo">
    <img src="images\tnw.png" alt="tnw-logo">
    <img src="images\bizinsider.png" alt="biz-insider-logo">
    <img src="images\mashable.png" alt="mashable-logo"> -->

  </section>


  <!-- Pricing -->

  <section id="pricing" class="container-fluid">

    <h2>A Plan for All Your Needs</h2>
    <p>Simple and affordable price plans for you and your store.</p>

    <div class="row">

      <div class="col-lg-6 col-md-12 cards">
        <div class="card-header">
          <h3>General</h3>
        </div>
        <div class="card-body">
          <h2>Free</h2>
          <p>10 Discount Suggestions</p>
          <p> 10 NGO Connections</p>
          <p>Unlimited App Usage</p>
          <button type="button" class="btn btn-lg btn-outline-dark btn-block">Sign Up</button>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 cards">
        <div class="card-header">
          <h3>Premium</h3>
        </div>
        <div class="card-body">
          <h2>$9 / mo</h2>
          <p>Unlimited Discount Suggestions</p>
          <p>Free Deliveries</p>
          <p>UNlimited NGO Connections</p>
          <button type="button" class="btn btn-lg btn-dark btn-block">Sign Up</button>
        </div>
      </div>

      

    </div>

  </section>

        <!-- faqs section -->
        <section id="faqs">
           
          <div class="accordion" id="accordionExample">
             <div class="container">
              <h1 class="text-center">FAQs</h1>
              <div class="accordion-item  ">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is NoFoodWaste?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    NOFOODWASTE is a software solution designed to help store managers track and manage expiry items while facilitating food donations to local charities.  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How can I get started with NOFOODWASTE?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Simply sign in or register to create an account. You can then start adding your store's inventory.                   </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Is NOFOODWASTE easy to use?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Yes, our system is user-friendly and designed to be intuitive for store managers.              </div>
                </div>
              </div>


              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      What happens to the food we donate?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      The donated food goes to local charities and food banks to help those in need.
                     </div>
                  </div>
              </div>

              <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Is there a cost to use NOFOODWASTE?
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    We offer both free and premium plans. You can choose the one that suits your needs.
                                            </div>
                  </div>
                </div>
          </div>
        </div>
       </section>


  <!-- Call to Action -->

  <section id="cta" class="container-fluid" style="margin-top: 50px;">

    <h3 class="section-heading">WASTE LESS, FEED MORE </h3>
    <button type="button" class="btn btn-lg btn-dark download-button"><i class="fab fa-apple"></i> Download</button>
    <button type="button" class="btn btn-lg btn-outline-light download-button"><i class="fab fa-google-play"></i> Download</button>

  </section>


  <!-- Footer -->

  <footer id="footer">
    <i class="fab fa-twitter footer-icon "></i>
    <i class="fab fa-facebook-f footer-icon"></i>
    <i class="fab fa-instagram footer-icon"></i>
    <i class="fas fa-envelope footer-icon"></i>
    <p>© Copyright 2018 NoFoodWaste</p>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
  crossorigin="anonymous"></script>

</body>

</html>
